
highscore_tables/parameter_tuning.csv
highscore_tables/voronoi_stardist_algorithm_comparison.csv
screenshots/20230317_cle_assistant.png
screenshots/20230317_game_algorithm_comparison.png
screenshots/20230317_stardist1.png
screenshots/20230317_stardist_loading_custom_model.png
screenshots/20230317_stardist_output.png
screenshots/20230317_stardist_prediction_new.png
screenshots/20230317_stardist_prediction_running.png
screenshots/20230317_stardist_result.png
screenshots/20230317_stardist_result_y_z.png
screenshots/20230317_voronoi.png
screenshots/20230317_voronoi_result.png
screenshots/20230317_voronoi_result_y_z.png
screenshots/bug.png
screenshots/gt_annotation.png
screenshots/gt_annotation_y_z.png
screenshots/original_image.png
imgs/demo_gt.tif
imgs/demo_segmentation_result.tif
screenshots/instance-vs-semantic-segmentation-1024x362.png
notebooks/2. quality assurance/Segmentation quality assurance.ipynb
notebooks/2. quality assurance/.ipynb_checkpoints/Segmentation quality assurance-checkpoint.ipynb
notebooks/2. quality assurance/.ipynb_checkpoints/Segmentation quality assurance-checkpoint.ipynb
